html.ng-scope(lang='en', ng-app='Wiseguys')
  head
    style(type='text/css').
      @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700|Fjalla+One', rel='stylesheet', type='text/css')
    link(href='/vendor/flexslider/flexslider-1a1082adec.css', rel='stylesheet', type='text/css')
    link(href='/vendor/font-awesome/css/font-awesome.min-4fbd15cb60.css', rel='stylesheet', type='text/css')
    link(href='/styles/style-bc32eb5545.css', rel='stylesheet', type='text/css')
    link(rel='apple-touch-icon', href='/img/mobile/icon.png')
    link(rel='shortcut icon', type='image/png', href='/favicon.png')
    link(rel='image_src', href='/img/logo-02f98126a1.jpg')
    meta(name='viewport', content='width=device-width, user-scalable=0, initial-scale=1')
  body(style='')
    header.container-fluid.site-header
      .container
        .row
          a.site-header_logo.col-sm-3.col-xs-9(href='/')
            img(src='/img/logo-a2ba615d3d.svg', alt='Wiseguys Live Comedy')
          .col-sm-9.col-xs-3
            .row
              .col-sm-12.hidden-xs
                .site-header_subnav.pull-right
                  //
                    <div class="site-header_social pull-left">
                    <a href="https://www.facebook.com/wiseguyscomedy"><span class="fa fa-facebook"></span></a>
                    <a href="https://www.twitter.com/wiseguyscomedy"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.linkedin.com/wiseguyscomedy"><span class="fa fa-linkedin"></span></a>
                    </div>
                  .site-header_locations.pull-left
                    a(href='/venues/downtown-slc') Downtown SLC
                    |  |
                    a(href='/venues/historic-ogden') Historic Ogden
                  a.btn.btn-primary.btn-xs.pull-left(href='#!/contact-us', ui-sref='contact') Contact Us
              .col-sm-12
                nav.site-header_nav.navbar.navbar-inverse.navbar-right
                  // Brand and toggle get grouped for better mobile display
                  .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  // Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li.active.hidden-sm.visible-lg-block
                        a(href='#!/', ui-sref='home') Home
                      li
                        a(href='#') Calendar
                      li
                        a(href='#') Open Mic
                      li
                        a(href='#') FAQs
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          | Group Events
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href='#') Fundraisers
                          li
                            a(href='#') Corporate Event
                          li
                            a(href='#') Private Party
                          li.divider(role='separator')
                          li
                            a(href='#') Book a comic
                      li
                        a(href='#') Discount Coupon
                      li
                        a(href='#') Gift Certificate
                  // /.navbar-collapse
    // uiView:
    .ng-scope(ui-view='')
      // wiseguyscomedy.com v0.0.0
      // [flex]>{"events?filter[include][venue]=true&filter[include][showtimes]=true&filter[include][media]=true": "", "venues": ""}<![flex]
      link.ng-scope(href='/css/home.css', rel='stylesheet')
      hero-slider.ng-scope.ng-isolate-scope(heroes='home.heroes')
        // wiseguyscomedy.com v0.0.0
        .container-fluid.hero-background.downtown-slc-3(ng-class='slider.background')
          .container
            .carousel.flexslider-container(slide='s in slider.slides track by s.image', animation='fade', start='slider.updateBackground($slider)', before='slider.updateBackground($slider)', animationspeed='250', control-nav='false')
              .flexslider
                ul.slides
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Open Mic
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Every Wednesday night is our weekly Wiseguys Open Mic night. This is the night to see the 20 to 25 of the best local, amateur and professional comedians in Utah perform. Not only do we feature great local comedians, but we also have our share of touring c
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/381/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/381/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Heath Harmison
                        .hero-text_dates.ng-binding Historic Ogden • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Heath is one of the brightest new comedians out there. His PG-13 style of comedy kills in clubs, colleges, and festivals including the Fringe Festival in Edinburgh, Scotland. He has opened for some of the best comics in the business including Louie Anders
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/181/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/181/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope.flex-active-slide(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Jeff Dye
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Jeff Dye stars in NBCs new eclectic comedy adventure series Better Late Than Never. This exciting project will follow the travel of Henry Winkler, William Shatner, Terry Bradshaw and George Foreman as Jeff gives the adventure of a lifetime.
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/437/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/437/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Open Mic Night
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Every Wednesday night is our weekly Wiseguys Open Mic night. This is the night to see the 20 to 25 of the best local, amateur and professional comedians in Utah perform. Not only do we feature great local comedians, but we also have our share of touring c
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/291/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/291/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Brad Bonar
                        .hero-text_dates.ng-binding Historic Ogden • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Brad Bonar Jr is a double treat! One of the most talented close-up magicians in the country, he is also a very gifted and funny stand-up comedian. His wealth of material springs from his observations of family life, (Brad has four children).
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/57/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/57/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Anthony Jeselnik
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Anthony Jeselnik is a brilliant stand-up comedian that starred in and createdThe Jeselnik Offensive, which ran for two seasons on Comedy Central.Anthony has written for and appeared on several roasts for Comedy Central, most notablyThe Roast Of Donald Tru
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/570/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/570/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Open Mic
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Every Wednesday night is our weekly Wiseguys Open Mic night. This is the night to see the 20 to 25 of the best local, amateur and professional comedians in Utah perform. Not only do we feature great local comedians, but we also have our share of touring c
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/380/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/380/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Shawn Paulsen
                        .hero-text_dates.ng-binding Historic Ogden • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Shawn's shows involve comedy and hilarious hypnosis. As a stand up comedian for several years prior to starting in Hypnosis he brings his own brand of comedy to the stage making his shows personality driven, interweaving his quick-witted humor with the co
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/355/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/355/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Heather McDonald
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Heather McDonald doesnt hold back on anything, especially when it comes to demonstrating her many talents. She continuously proves to master her craft as a comedian, actress, story producer, and best-selling author.
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/263/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/263/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Steve Soelberg
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Steve Soelberg is a wicked funny nice guy. He rocked the Oddball Comedy Festival in 2014 opening for Louis CK, Aziz Ansari, and Sarah Silverman just to name a few! Edgy like a butter knife, Steve's smart, relatable take is in high demand and had audiences
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/54/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/54/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Andy Gold
                        .hero-text_dates.ng-binding Historic Ogden • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Andy Gold lives in Los Angeles and writes and tells awesome jokes. The winner of the Salt Lake Comedy Festival, Andy has also been accepted in festivals and competitions all over the country, including the Boston Comedy Festival, Ventura Comedy Festival,
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/579/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/579/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Bengt Washburn
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Bengt Washburn has been a comic for over 20 years. He has entertained audiences in forty six states and 12 countries, on four continents and in several bowling alleys.He was the winner of the San Francisco Comedy Competition and has appeared on Comedy Cen
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/583/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/583/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Bob Saget
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | SPECIAL EVENT!
                            | Yes, Bob Saget has starred in many successful television shows, including two of the most family-friendly shows network TV has ever produced ("Full House" and "Americas Funniest Home Videos") but hes also an out of his mind, Grammy-nominat
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/586/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/586/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Todd Barry
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | New York City-based comedian and actor Todd Barry is widely recognized for his roles as the bongo-playing Third Conchord on HBOs Flight of the Conchords and Mickey Rourkes deli boss in 2009 Oscar winner The Wrestler, and renowned throughout the entertainm
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/418/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/418/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Pauly Shore
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Pauly Shore tasted super-stardom in 1990 when his precedent-setting MTV show "Totally Pauly" hit the airwaves to major fan approval. The show ran for six years, leading him to numerous television and film roles including the one-hour HBO television
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/83/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/83/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Don Friesen
                        .hero-text_dates.ng-binding Historic Ogden • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | If you missed Don's hilarious Showtime one-hour Special, Ask Your Mom you've got to catch him Live! Don captures the irony of parenting, marriage and everyday absurdities through characters, voices, parodies and some of the best written routines around!
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/488/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/488/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Ben Gleib
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Ben Gleib is a standup comedian, actor, and TV host, perhaps best known as a round table regular on the hit show CHELSEA LATELY on E! appearing on the show over 85 times. Esquire named him one of Six comedians who could be comedys next big thing.
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/394/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/394/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding About Last Night LIVE
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Its feels like youre hanging in the room with comedians Adam Ray  Brad Williams when they host their popular comedy podcast ABOUT LAST NIGHT. A favorite amongst comedians and fans of the industry, its been featured on ITUNES  several top comedy websites.
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/584/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/584/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding wellRed Comedy Tour
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | There's a New South and we're coming to claim it.Comedy and writing partners Trae Crowder, Drew Morgan and Corey Ryan Forrester are ready to meet the people. You've seen Traes Liberal Redneck viral videos, you've read their weekly blog (https://oursundybe
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/577/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/577/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Never Not Funny LIVE
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Never Not Funnyis anaward-winningweeklypodcasthosted by comedian and TV personality Jimmy Pardo. Broadcasting since 2006, the show features free-form conversations between Pardo, his producer Matt Belknap and his sometimes famous, always funny friends.
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/552/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/552/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Christian Pieper
                        .hero-text_dates.ng-binding Historic Ogden • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | hristian Pieper is an award-winning and crowd-pleasing comedian from Beaver Dam, Kentucky, now living in Los Angeles. In just five years as a performer, Christian has quickly earned acclaim for his honest, smart, and welcoming approach to personal materia
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/580/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/580/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Sarah Tiana
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Sarah Tiana has been a working comedian/ex-waitress inLos Angelessince 2003.Originally fromCalhoun,GA, Sarahs act emphasizes the thrills of growing up after The War Of Northern Aggression and trying to survive in the current battle of the sexes.She doesnt
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/461/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/461/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Jo Koy
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | From filling sold-out clubs across the nation, to appearing weekly as a regular on Chelsea Lately, Jo Koy has come a long way from his modest beginnings at a Las Vegas coffee house. His infectious, explosive energy onstage, insightful jokes, and family-in
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/574/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/574/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Brad Williams
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Brad Williams has become on of the funniest, most in demand comedians working today. A California native, Brad started doing stand-up at age 19 and has been touring ever since.
                            | He has appeared on numerous TV shows including Legit, Dave Attells Comedy Und
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/585/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/585/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Bert Kreischer
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Bert Kreischer: "Bert the Conqueror" "The Shield" "Van Wilder" - Bert Kreischer is known for being a wild and crazy frat boy, being featured in "Rolling Stone" as "the top partier" at Florida State University, which led to the creation of the hit film "Na
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/495/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/495/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Joey Diaz
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Born in Havana, Cuba and raised in North Bergen, NJ, Joey Coco Diaz has quickly become one of the most sought after actors and comedians in the entertainment industry today. His love of storytelling is reflected in each role he takes: whether it is on fil
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/175/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/175/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Steve O
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Steve-O (a.k.a. Stephen Glover) has become a household name and it all started when he snatched a video camera from his father's closet when he was fifteen years old. From there he started producing homemade skateboarding videos featuring dangerous stunts
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/262/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/262/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                  li.ng-scope(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                    a.hero(href='/events')
                      .hero-text
                        .hero-text_title.ng-binding Monroe Martin
                        .hero-text_dates.ng-binding Downtown SLC • Dec. 3-5
                        .hero-text_description
                          .hidden-xs.hidden-sm.visible-md-block.visible-lg-block.ng-binding
                            | Monroe Martin was born and raised in Philadelphia. One typically wouldnt find Monroes life story laughable. After all, how inappropriate is it to laugh at a foster child who jumped around from one dysfunctional family to another?
                          button.btn.btn-primary.hero-text_button Get Tickets
                      img.hero-profile(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/576/profile.jpg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/576/profile.jpg', draggable='false')
                      img.hero-ratio(src='/img/hero-backgrounds/hero-ratio-0d574ddb3b.gif', draggable='false')
                ul.flex-direction-nav
                  li.flex-nav-prev
                    a.flex-prev(href='#') Previous
                  li.flex-nav-next
                    a.flex-next(href='#') Next
      //
        <div class="box-full">
        {{ heroes }}
        <a href="{{ link }}"><img src="{{ src }}"></a>
        {{ heroes }}
        </div>
      //
        <div id="locationAddresses">
        {{ venues }}
        <div class="no-p col-md-4 col-sm-12 {{ identifier }} venue-bkgnd">
        <div class="col-sm-12">
        <h2><a href="/venues/{{ id }}" class="locationName">{{ shortName }}</a></h2>
        <a href="/pdf/menu-ogden.pdf" class="btn purple pull-right" target="_blank">MENU <i class="glyphicon glyphicon-cutlery"></i></a>
        <br/>
        </div>
        <div class="col-sm-12 center directions">
        <a class="phone" href="tel:{{ phone }}">{{ phone }}</a>
        <span class="sub-text">{{ address.street }}</span>
        <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=wiseguys+ogden&amp;sll=40.276808,-111.726623&amp;sspn=0.008496,0.022573&amp;gl=us&amp;ie=UTF8&amp;hq=wiseguys&amp;hnear=Ogden,+Weber,+Utah&amp;ll=41.227991,-111.95446&amp;spn=0.134011,0.361176&amp;z=12&amp;iwloc=A" target="_blank"><i class="glyphicon glyphicon-map-marker"></i>MAP</a>
        </div>
        </div>
        {{ venues }}
        </div>
      .container.ng-scope
        .row.text-center.margin-bottom
          .col-sm-12
            h3 Upcoming Shows
          .col-sm-12
            .btn-group(role='group')
              label.btn.btn-info.ng-pristine.ng-untouched.ng-valid.active(ng-model='home.eventFilter', uib-btn-radio="'all'") All
              label.btn.btn-info.ng-pristine.ng-untouched.ng-valid(ng-model='home.eventFilter', uib-btn-radio="'downtown-slc'") Downtown SLC
              label.btn.btn-info.ng-pristine.ng-untouched.ng-valid(ng-model='home.eventFilter', uib-btn-radio="'ogden'")
                | Historic Ogden
            hr
      .container.ng-scope
        .row
          // ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/381')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/381/thumb.jpg', alt='Open Mic', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/381/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Open Mic
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Every Wednesday night is our weekly Wiseguys Open Mic night. This is the night to see the 20 to 25 o
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/181')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/181/thumb.jpg', alt='Heath Harmison', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/181/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Heath Harmison
                    .col-sm-12
                      .event-summary_bar.ng-binding.ogden(ng-class='event.venue.identifier')
                        | Historic Ogden
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Heath is one of the brightest new comedians out there. His PG-13 style of comedy kills in clubs, col
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/437')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/437/thumb.jpg', alt='Jeff Dye', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/437/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Jeff Dye
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Jeff Dye stars in NBC&rsquo;s new eclectic comedy adventure series &ldquo;Better Late Than Never.&rd
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/291')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/291/thumb.jpg', alt='Open Mic Night', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/291/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Open Mic Night
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Every Wednesday night is our weekly Wiseguys Open Mic night. This is the night to see the 20 to 25 o
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/57')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/57/thumb.jpg', alt='Brad Bonar', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/57/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Brad Bonar
                    .col-sm-12
                      .event-summary_bar.ng-binding.ogden(ng-class='event.venue.identifier')
                        | Historic Ogden
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Brad Bonar Jr is a double treat! One of the most talented close-up magicians in the country, he is a
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/570')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/570/thumb.jpg', alt='Anthony Jeselnik', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/570/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Anthony Jeselnik
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Anthony Jeselnik is a brilliant stand-up comedian that starred in and created&nbsp;The Jeselnik Offe
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/380')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/380/thumb.jpg', alt='Open Mic', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/380/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Open Mic
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Every Wednesday night is our weekly Wiseguys Open Mic night. This is the night to see the 20 to 25 o
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/355')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/355/thumb.jpg', alt='Shawn Paulsen', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/355/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Shawn Paulsen
                    .col-sm-12
                      .event-summary_bar.ng-binding.ogden(ng-class='event.venue.identifier')
                        | Historic Ogden
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Shawn's shows involve comedy and hilarious hypnosis. As a stand up comedian for several years prior
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/263')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/263/thumb.jpg', alt='Heather McDonald', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/263/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Heather McDonald
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Heather McDonald doesn&rsquo;t hold back on anything, especially when it comes to demonstrating her
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/54')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/54/thumb.jpg', alt='Steve Soelberg', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/54/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Steve Soelberg
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Steve Soelberg is a wicked funny nice guy. He rocked the Oddball Comedy Festival in 2014 opening for
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/579')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/579/thumb.jpg', alt='Andy Gold', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/579/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Andy Gold
                    .col-sm-12
                      .event-summary_bar.ng-binding.ogden(ng-class='event.venue.identifier')
                        | Historic Ogden
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Andy Gold lives in Los Angeles and writes and tells awesome jokes. The winner of the Salt Lake Comed
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/583')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/583/thumb.jpg', alt='Bengt Washburn', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/583/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Bengt Washburn
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Bengt Washburn has been a comic for over 20 years. He has entertained audiences in forty six states
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/586')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/586/thumb.jpg', alt='Bob Saget', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/586/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Bob Saget
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | SPECIAL EVENT!
                      | Yes, Bob Saget has starred in many successful television shows, including two of the
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/418')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/418/thumb.jpg', alt='Todd Barry', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/418/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Todd Barry
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | New York City-based comedian and actor Todd Barry is widely recognized for his roles as the bongo-pl
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/83')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/83/thumb.jpg', alt='Pauly Shore', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/83/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Pauly Shore
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Pauly Shore tasted super-stardom in 1990 when his precedent-setting MTV show "Totally Pauly" h
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/488')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/488/thumb.jpg', alt='Don Friesen', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/488/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Don Friesen
                    .col-sm-12
                      .event-summary_bar.ng-binding.ogden(ng-class='event.venue.identifier')
                        | Historic Ogden
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | If you missed Don's hilarious Showtime one-hour Special, Ask Your Mom you've got to catch him Live!
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/394')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/394/thumb.jpg', alt='Ben Gleib', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/394/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Ben Gleib
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | &nbsp;
                      | Ben Gleib is a standup comedian, actor, and TV host, perhaps best known as a round table reg
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/584')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/584/thumb.jpg', alt='About Last Night LIVE', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/584/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding About Last Night LIVE
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | It&rsquo;s feels like you&rsquo;re hanging in the room with comedians Adam Ray &amp; Brad Williams w
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/577')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/577/thumb.jpg', alt='wellRed Comedy Tour', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/577/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding wellRed Comedy Tour
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | There's a New South and we're coming to claim it.Comedy and writing partners Trae Crowder, Drew Morg
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/552')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/552/thumb.jpg', alt='Never Not Funny LIVE', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/552/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Never Not Funny LIVE
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Never Not Funny&nbsp;is an&nbsp;award-winning&nbsp;weekly&nbsp;podcast&nbsp;hosted by comedian and T
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/580')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/580/thumb.jpg', alt='Christian Pieper', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/580/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Christian Pieper
                    .col-sm-12
                      .event-summary_bar.ng-binding.ogden(ng-class='event.venue.identifier')
                        | Historic Ogden
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | hristian Pieper is an award-winning and crowd-pleasing comedian from Beaver Dam, Kentucky, now livin
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/461')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/461/thumb.jpg', alt='Sarah Tiana', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/461/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Sarah Tiana
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Sarah Tiana has been a &ldquo;working&rdquo; comedian/ex-waitress in&nbsp;Los Angeles&nbsp;since 200
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/574')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/574/thumb.jpg', alt='Jo Koy', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/574/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Jo Koy
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | From filling sold-out clubs across the nation, to appearing weekly as a regular on Chelsea Lately, J
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/585')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/585/thumb.jpg', alt='Brad Williams', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/585/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Brad Williams
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Brad Williams has become on of the funniest, most in demand comedians working today. A California na
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/495')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/495/thumb.jpg', alt='Bert Kreischer', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/495/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Bert Kreischer
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Bert Kreischer: "Bert the Conqueror" "The Shield" "Van Wilder" - Bert Kreischer is known for being a
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/175')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/175/thumb.jpg', alt='Joey Diaz', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/175/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Joey Diaz
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Born in Havana, Cuba and raised in North Bergen, NJ, Joey &lsquo;Coco&rsquo; Diaz has quickly become
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/262')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/262/thumb.jpg', alt='Steve O', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/262/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Steve O
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Steve-O (a.k.a. Stephen Glover) has become a household name and it all started when he snatched a vi
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
          event-summary.col-sm-3.col-md-2.ng-scope.ng-isolate-scope(event='event', ng-repeat='event in home.events | filter : home.eventFilterFn')
            // wiseguyscomedy.com v0.0.0
            .event-summary
              .row(ui-sref='eventDetail({ id: event.id })', href='#!/events/576')
                .col-xs-4.col-sm-12
                  img.event-summary_image(ng-src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/576/thumb.jpg', alt='Monroe Martin', src='https://s3-us-west-2.amazonaws.com/wiseguyscomedy.com/media/576/thumb.jpg')
                  .event-summary_hover
                    a.btn.btn-primary.btn-ticket(href='#/events') Get Tickets
                .col-xs-8.col-sm-12
                  .row
                    .col-sm-12
                      span.event-summary_title.ng-binding Monroe Martin
                    .col-sm-12
                      .event-summary_bar.ng-binding.downtown-slc(ng-class='event.venue.identifier')
                        | Downtown SLC
                        .pull-right.event-summary_bar_date.ng-binding Dec. 3-5
                    .col-sm-12.hidden-xs.event-summary_credits.ng-binding
                      | Monroe Martin was born and raised in Philadelphia. One typically wouldn&rsquo;t find Monroe&rsquo;s
          // end ngRepeat: event in home.events | filter : home.eventFilterFn
    script(src='/vendor/js/jquery-249432293e.js')
    script(src='/vendor/js/angular-e52b27fc01.js')
    script(src='/js/ng/wiseguys-comedy-club-4dcdb243a7.js')
